.container-show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.neri  {
  display: inline-block;
}

.text-area {
  width: 900px;
  left: 3vh;
  top: -70px;
  position: relative;
  display: inline-block;
}

.sidebar-details {
  right: 3vh;
  top: -70px;
  position: relative;
  display: inline-block;
}
