.container-show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-area {
  width: 900px;
  left: 160px;
  top: -70px
}

.sidebar-details {
  right: 160px;
  top: -70px
}

.neri  {
  position: relative;
}

.neri .lucas{
  position: absolute;
}

.neri .sidebar-details {
  position: absolute;
}
